<button type={{type}} class="btn {{color}}" disabled={{reallyDisabled}} {{action "click"}}>
  {{~#if spinning ~}}
    <i class="icon icon-spinner icon-spin mr-5"/>
  {{/if}}
  {{t label htmlSafe=true}}
</button>
